* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FCFAF8;
    font-family: sans-serif;
    color: #444;
}

main {
    max-width: 620px;
    margin: 0 auto;
    padding: 0 24px;
}

h1 {
    font-family: monospace;
    font-size: 1.5em;
    font-weight: normal;
    color: #888;
    margin: 4em 0 0;
}

h1 a {
    text-decoration: none;
    color: #888;
}

h1 span {
    color: #bbb;
}

section {
    margin: 7em 3em;
}

h2 {
    font-family: Georgia;
    font-weight: normal;
    margin: 0.5em 0;
}

blockquote {
    margin: 0 0 0 0.25em;
    padding: 0 0em 0 1em;
    border-left: 1px solid #777;
    color: #999;
}

p {
    margin: 1em 0;
}

.dateline {
    font-size: .8em;
    color: #999;
}

.dateline a {
    color: #999;
    text-decoration: none;
}

@media (max-width: 768px) {
    main {
        padding-right: 50px;
    }

    section {
        min-height: auto;
        padding: 70px 0;
    }
}