<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>E.J. Kalafarski</title>

    <link rel="icon" href="/images/favicon.ico">
    <link rel="icon" href="/images/favicon.png">
    <link rel="icon" href="/images/favicon.svg">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="me" href="https://mastodon.social/@ejkalafarski"/>

    <!-- Open Graph bullshit, for home page: -->
    <meta property="og:title" content="You Are Here with E.J. Kalafarski"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://ejkalafarski.com/"/>
    <meta property="og:image" content="/images/k-wide-card.png"/>
    <meta property="og:site_name" content="E.J. Kalafarski"/>
    <meta property="og:description" content="Commentary on Apple, technology, design, politics, and more."/>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PQM5FTX5YG"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-PQM5FTX5YG');
    </script>

</head>
<body>
    <main>
        <h1>You Are Here <span>with E.J. Kalafarski</span></h1>
        {{ range .Pages.ByDate.Reverse }}
        <section>
            <dt><h2>{{ .Title }}</h2></dt>
            <dd>
                {{ .Content }}
                <p class="dateline"><a href="{{ .RelPermalink }}"><em>{{ .Date.Format "January 2, 2006" }}</em></a></p>
            </dd>
        </section>
        {{ end }}
    </main>
</body>
</html>