<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>You Are Here: {{ .Title }}</title>

    <link rel="stylesheet" href="/css/site.css">
    <link rel="canonical" href="{{ .RelPermalink }}">
    <link rel="alternate" type="application/rss+xml" href="/blog/index.xml"/>
    <link rel="me" href="https://mastodon.social/@ejkalafarski"/>

    <!-- Favicon -->
    <link rel="icon" href="/images/favicon.ico">
    <link rel="icon" href="/images/favicon.png">
    <link rel="icon" href="/images/favicon.svg">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">

    <!-- Open Graph -->
    <meta property="og:title" content="{{ .Title }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="{{ .RelPermalink }}"/>
    <meta property="og:image" content="/images/k-wide-card.png"/>
    <meta property="og:site_name" content="You Are Here"/>
    <meta property="og:description" content="Commentary on politics, technology, history, time travel, and more."/>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PQM5FTX5YG"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-PQM5FTX5YG');
    </script>

</head>
<body>
    <main>
        <h1><a href="/blog/">You Are Here <span>with E.J. Kalafarski</span></a></h1>
        <section>
            <dt><h2>{{ .Title }}</h2></dt>
            <dd>
                {{ .Content }}
                <p class="dateline"><em>{{ .Date.Format "January 2, 2006" }}</em></p>
            </dd>
        </section>
    </main>
</body>
</html>